---
http_interactions:
- request:
    method: post
    uri: http://doc-dummy-for-test-asshywvkb3xdxlpqj7uk3bf2lq.us-east-1.cloudsearch.amazonaws.com/2013-01-01/documents/batch
    body:
      encoding: UTF-8
      string: '[{"id":12345678,"type":"add","fields":{"title":"Test Title","desc":"Test
        Desc"}}]'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amzn-requestid:
      - bd9664bd-5459-11e4-acf6-9d40f1e0a6e9
    body:
      encoding: UTF-8
      string: '{"status": "success", "adds": 1, "deletes": 0}'
  recorded_at: Wed, 15 Oct 2014 10:55:13 GMT
recorded_with: VCR 2.9.2
