---
http_interactions:
- request:
    method: get
    uri: http://search-imdb-test-klzdilptuleeedvxt7to3c5xl4.us-east-1.cloudsearch.amazonaws.com/2013-01-01/search?q=(and%20actors:%27Kevin%20Bacon%27actors:%27Tom%20Hanks%27)&return=title&q.parser=structured
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"YzAwMDAwMDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Sun, 12 Oct 2014 03:55:22 GMT
    body:
      encoding: UTF-8
      string: '{"status":{"rid":"27KxzJAppgEKHgGn","time-ms":2},"hits":{"found":1,"start":0,"hit":[{"id":"tt0112384","fields":{"title":"Apollo
        13"}}]}}'
  recorded_at: Mon, 13 Oct 2014 12:47:12 GMT
recorded_with: VCR 2.9.2
