---
http_interactions:
- request:
    method: get
    uri: http://search-imdb-test-klzdilptuleeedvxt7to3c5xl4.us-east-1.cloudsearch.amazonaws.com/2013-01-01/search?q=(and%20title:%27Die%20Hard%27)&return=title,genres&q.parser=structured
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"YzAwMDAwMDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Sun, 12 Oct 2014 03:55:22 GMT
    body:
      encoding: UTF-8
      string: '{"status":{"rid":"l7CxzJAppQEKHgGn","time-ms":2},"hits":{"found":5,"start":0,"hit":[{"id":"tt0095016","fields":{"genres":["Action","Thriller"],"title":"Die
        Hard"}},{"id":"tt0112864","fields":{"genres":["Action","Crime","Thriller"],"title":"Die
        Hard: With a Vengeance"}},{"id":"tt0099423","fields":{"genres":["Action","Thriller"],"title":"Die
        Hard 2"}},{"id":"tt0337978","fields":{"genres":["Action","Crime","Thriller"],"title":"Live
        Free or Die Hard"}},{"id":"tt1606378","fields":{"genres":["Action","Crime","Thriller"],"title":"A
        Good Day to Die Hard"}}]}}'
  recorded_at: Mon, 13 Oct 2014 12:47:12 GMT
recorded_with: VCR 2.9.2
