---
http_interactions:
- request:
    method: get
    uri: http://search-imdb-test-klzdilptuleeedvxt7to3c5xl4.us-east-1.cloudsearch.amazonaws.com/2013-01-01/search?q=(and%20genres:%27Sci-Fi%27)&sort=rating%20desc&size=3&return=title&q.parser=structured
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"YzAwMDAwMDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Sun, 12 Oct 2014 03:55:22 GMT
    body:
      encoding: UTF-8
      string: '{"status":{"rid":"rrqxzJApqQEKHgGn","time-ms":2},"hits":{"found":591,"start":0,"hit":[{"id":"tt0080684","fields":{"title":"Star
        Wars: Episode V - The Empire Strikes Back"}},{"id":"tt1375666","fields":{"title":"Inception"}},{"id":"tt0133093","fields":{"title":"The
        Matrix"}}]}}'
  recorded_at: Mon, 13 Oct 2014 12:47:13 GMT
recorded_with: VCR 2.9.2
