---
http_interactions:
- request:
    method: get
    uri: http://search-imdb-test-klzdilptuleeedvxt7to3c5xl4.us-east-1.cloudsearch.amazonaws.com/2013-01-01/search?q=(and%20actors:%27Arnold%27title:%27Terminator%27rating:%5B%278%27,%7D)&return=title&q.parser=structured
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"YzAwMDAwMDAwMDAwMDAwMFNvbHI="'
      last-modified:
      - Sun, 12 Oct 2014 03:55:22 GMT
    body:
      encoding: UTF-8
      string: '{"status":{"rid":"07exzJApqAEKHgGn","time-ms":2},"hits":{"found":2,"start":0,"hit":[{"id":"tt0088247","fields":{"title":"The
        Terminator"}},{"id":"tt0103064","fields":{"title":"Terminator 2: Judgment
        Day"}}]}}'
  recorded_at: Mon, 13 Oct 2014 12:47:13 GMT
recorded_with: VCR 2.9.2
